.pagination {
  display: flex;
  justify-content: center;
  gap: 4px;
  margin: 0 16px 0 0;
  list-style: none;
  padding: 0;
}

.pagination li {
  border: 1px solid #dee2e6;
  border-radius: 4px;
  cursor: pointer;
  min-width: 36px;
  height: 36px;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.pagination li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #e9ecef;
  font-size: 14px;
    &:hover {
        color: #1e1e1e;
    }
}

.pagination li:hover {
  background-color: #e9ecef;
}

.pagination li.active:hover {
  background-color: #fdfdfd;
}

.active {
  background-color: #e9ecef;
}

.active a {
  color: #212121 !important;
  font-weight: 500;
}
