.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.listItem {
  background: #575757;
  border: 1px solid #444;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 200px;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.listItem:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.7);
}

.title {
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 10px 0;
  color: #f5f5f5;
}

.content {
  margin: 0 0 14px 0;
  flex-grow: 1;
  font-size: 14px;
  line-height: 1.5;
  color: #ddd;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.tag {
  display: inline-block;
  padding: 5px 10px;
  font-size: 12px;
  color: #fff;
  background-color: #2a2a2a;
  border: 1px solid #444;
  border-radius: 16px;
  max-width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
}

.button {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 6px 12px;
  font-size: 14px;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
  background-color: #ff4d4f;
}

.button:hover {
  background-color: #960708;
  transform: translateY(-2px);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
}

.deleteButton {
  color: #ff4d4f;

  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 6px 12px;
  font-size: 14px;
  transition: all 0.2s ease;
}

.link {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 6px 12px;
  font-size: 14px;
  color: #f5f5f5;
  background-color: #1e1e1e;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease;
}

.link:hover {
  background-color: #333;
  transform: translateY(-2px);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
}

.icon {
  font-size: 16px;
  flex-shrink: 0;
}
